body{
    background-color: rgb(0, 0, 0);
    color:antiquewhite ;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;

}
.conteudo{
    font-size: 10px;
}
.cabecalho{display: flex; justify-content: space-between;
}

.traduzir{
    display:inline-flex;
    flex-direction: row;
    padding: 1px;
    margin-top: auto;
    margin-bottom: 28px;
    a{margin-left: 5px;};
    background-color: rgb(0, 0, 0);
    

}
.traduzir{
    position: relative;
    top: -5px;
}



/*mudar a cor do botao variadno de menu...*/
.botao1{
    background-color: rgb(81, 189, 108);

}
.botao2{
    background-color: rgb(81, 189, 108);
}



.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    a{margin-right: 10px;} /*aqui separa os termos...*/

}


.linkedin_imagem{
    width: 50px;
    height: auto;
}
.github_imagem{
    width: 50px;
    height: auto;
}


 .botoes{
    border-radius: 200px;
    
 }

.conteudo{
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width: 70%;
    height: 350px;
    margin: auto;
    
}
.conteudo_texto{
     width: 100%;/*o texto vai ocupar todo o espaço*/
     max-width:700px ;/*com isso o texto não fica largo demais*/
     text-align: justify;/*e aqui ele vai até o final da linha, mt útil*/ 
    height: auto;
    ;}

.conteudo_imagem{
    width: auto;
    height: 90%;
}

img{
    border-radius: 400px;
    height: 250px;
}

.titulo_tec{
    font-size: 40px;
    font-family: "Orbitron", sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin: auto;
}