body{
    background-color: rgb(0, 0, 0);
    color:antiquewhite ;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;

}

.cabecalho{display: flex; justify-content: space-between;
    max-height: 1.6rem;
    background-color: rgb(0, 0, 0);
}

.traduzir{
    display:inline-flex;
    flex-direction: row;
    padding: 0.1rem;
    margin-top: auto;
    margin-bottom: 28px;
    a{margin-left: 5px;};
    background-color: rgb(0, 0, 0);
}

.traduzir{
    position: relative;
    top: -0.3rem;
}

/*mudar a cor do botao variadno de menu...*/
.botao1{
    background-color: rgb(81, 189, 108);}
.botao2{
    background-color: rgb(81, 189, 108);}



.redes{
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 1.75rem;
    a{margin-right: 0.3rem;} /*aqui separa os termos...*/

}


.linkedin_imagem{
    width: 1.75rem;
    height: auto;
    border-radius: 100px;
    position: relative;
    top: 0.12rem;
    
}
.github_imagem{
    width: 2rem;
    height: auto;
    border-radius: 100px;
    position: relative;
    top: 0.1rem;
}
.botoes{
    border-radius: 200px;
    height: auto;
      
}


.conteudo{
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width: 70%;
    height: 18rem;
    margin: auto;
    font-size: 0.75rem;
    
}
.conteudo_texto{
     width: 100%;/*o texto vai ocupar todo o espaço*/
     max-width: 44rem;/*com isso o texto não fica largo demais*/
     text-align: justify;/*e aqui ele vai até o final da linha, mt útil*/ 
    height: auto;
    ;}

.conteudo_imagem{
    width: 12rem;
    height: auto;
    border-radius: 60px;
}

/*img{
    border-radius: 400px;
    height: 250px;
}*/

.titulo_tec{
    font-size: 2.5rem;
    font-family: "Orbitron", sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin: auto;
    width: 11rem;
}
.img_css{
   display: flex;
   flex-direction: column; 
    align-items: center;
    justify-content: center;
 
}
.img_js{ /*muito foco aqui, a curva da ponta n funcionava 
pois pegava no div, por isso o img no começo, para pegar só a imagem...*/
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 30px;
}

.img_html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.img_js img{/* tive outro problema, a imagem precisou ser separada do texto,...*/

    border-radius: 20px;
    width: 11.6rem;
    height: auto;
}

.img_html IMG{
    width:12rem;
    height: auto;

}

.conteudo_tecnologias{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
   
}
